div#projectContainer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 100px;
}

div#projectContainer a {
    display: inline-grid;
}


.key p{
    line-height: 3px;
    font-size: 11px;
}
.key p::first-letter{
    font-size: inherit;
    color: #000;
}
.descriptionContainer{
    display: flex;
    justify-content: space-between;
}

.sidebar2{
    grid-area: sidebar;
    text-align: left;
    color: #999;
    width: 60%;
    font-size: .9em;
}
.sidebar2 p{
    margin-top: 0;
 }

 .sidebar2 p::first-letter{
    font-size:inherit;
 }

.pdfContainer{
    text-align: left;
    margin-top: 7px;
}
.pdfContainer h2{
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 769px){
    .descriptionContainer {
        display: block;
    }
  }
